SERVER_PORT=
DATABASE_URL=
DB_SYNC_ALTER=true
JWT_SECRET=
JWT_EXPIRES_IN=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=

//credentials for the aws s3 bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

//credentials for the email service
MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_SECRET=
NOREPLY_USER=
